:root{
    --shadow: 77px 41px 85px 70px #212231bd;
    --bg: #212231e5;
    --bord:solid  #23edfcea;
    --span:#31f1ffea;
}


*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}

body{
    background-image: url( rr.webp) ;
    background-size: contain;
    color:white ;
    cursor:default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

h1{ 
    font-size: 40px;
    margin: 2rem;
    margin-left: 2.5rem;
    text-align: center;
    -webkit-box-reflect:below 
    1px linear-gradient(transparent, #0005);
    text-shadow: 0 0 5px #15d6e4ea, 0 0 15px #15d6e4ea,
    0 0 25px #15d6e4ea, 0 0 100px #15d6e4ea;
    
}

h2{
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

h4{
    color: #eec231fa;
    filter: drop-shadow(0 0 5px  #e2b729fa);
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    word-spacing: 5px;
}


p{
    font-size: 20px;
    word-spacing: 3px;
    line-height:27px;
    margin: 5px;
    text-align: center;
}

b{
    font-size:23px ;
}

nav{
    background-color:var(--bg) ;
    border: var(--bord) 1.5px;
    height: 50px;
    margin: 2.9rem 8% 0px;
    box-shadow:  var(--shadow);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

li{
    margin: 1rem;
    cursor: pointer;
    font-size: large;
}

a{
    transition: 0.8s;
    text-decoration-line: none ;
    color: white;
}
a:hover{
    color: var(--span);
    -webkit-text-reflect:below 
    1px linear-gradient(transparent, #0005);
    text-shadow: 0 0 5px #31f1ffea, 0 0 15px #31f1ffea,
    0 0 25px #31f1ffea, 0 0 100px #31f1ffea;
}


.non{
    width: 250px;
    position: absolute;
    z-index: 1;
    left: 3px;
    top: 1rem;
    filter:drop-shadow(0 0 5px #31f1ffea);
}

.sub{
    margin: 10px;
    border-radius: 25px;
    font-weight: bold;
    border: var(--bord) 0.9px;
    transition: 0.6s;
    padding: 3px;
    font-size: larger;
    cursor: pointer;
}

.sub:hover{
    box-shadow: 0 0 5px var(--span),
     0 0 25px var(--span), 0 0 50px var(--span), 
      0 0 100px var(--span);
      background-color: #3fd3dd;
}

.loog{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1px;
    justify-content: space-around;
    margin: 0.4rem 0.7rem 0.9rem;
    background-color:#21223138 ;
    border-radius: var(--bord-radius);
}

.soil{
    margin: 1.8rem 0.7rem;
    width: 60px;
    box-shadow:var(--shadow) ;
    border: 1px solid white;
    border-radius: 100%;
    transition: 1s;
    z-index: 4;
}
.soil:hover{
    border: 2px solid white;
    box-shadow: 0 0 5px #31f1ffea, 0 0 15px #31f1ffea,
    0 0 25px #31f1ffea, 0 0 100px #31f1ffea;
    transform: scale(1.05);
}

/* //////////////////// */


.box{
    margin: 7rem 2.5rem 2rem 12%;
    background-color: var(--bg);
    border-radius: 5px;
    position: relative;
    z-index: 4;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.text{
    width: 60%;
}

.nobg{
    margin: 5px;
    width: 350px;
    height: 100%;
}

.ms{
    width: 330px;
    margin: 5px 19%;
}


.a, .b, .c, .d, .e{
    display: none;
    margin-top: -3px;
}


.circular{
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-height: 50vh;
    position: relative;
    width: 50px;
    left: 47%;
   transform-style: preserve-3d;
    animation: animate 28s linear infinite;
    margin-top: 3rem;
}

@keyframes animate {
    0%
    {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.circular div{
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 100%;
    height: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(330px);
    -webkit-box-reflect: below 0px 
    linear-gradient(transparent);
}

.circular div img { 
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border-radius: 18px;
    height: 100%;
    object-fit: contain;
}

.deep{
    margin-bottom: 3rem;
    background-color: var(--bg);
    box-shadow: var(--shadow);
}


/* ///////////////////////// */


@media screen and (min-width:343px) and (max-width:749px){

    body{
        background-size: auto;
    }

    h1{
        font-size: 30px;
        margin: 2rem 0rem;
        margin-left: auto;
    }

    nav{
        width: 99%;
        margin: 2.9rem 1px 0px;
    }

    li{
        font-size: medium;
        margin: 1rem 0.5rem;
    }

    .non{
        width: 0px;
    }

    .loog{
        position: static;
        flex-direction: row;
    }

    .box{
        width: 95%;
        margin: 4rem 1rem 2rem;
        flex-direction: column;
        align-items: center;
    }

    .text{
        width: 99%;

    }

    .circular div{
        transform: rotateY(calc(var(--i) * 60deg)) translateZ(200px);
    }

    .circular div img {
        width: 90px;
    }

}


@media screen and (min-width:750px) and (max-width:950px) {

    body{
        background-size: auto;
    }

    h1{
        margin-left: 5rem;
    }

    .non{
        width: 220px;
    }

    .loog{
        flex-direction: row;
        position: static;
    }

    .soil{
        width: 50px;
    }

    .box{
        margin: 3.5rem 10px 7rem;
    }

    .circular div{
        transform: rotateY(calc(var(--i) * 60deg)) translateZ(300px);
        }
    
    .deep{
        margin-bottom: 3rem;
    }

}


@media screen and (min-width:343px) and (max-width:500px){

    .soil{
        width: 45px;
    }

    .circular div{
        transform: rotateY(calc(var(--i) * 60deg)) translateZ(180px);
    }

    .circular div img{
        width: 70px;
    }

    .ms{
        width: 300px;
        margin: auto;
        margin-top: 10px;
    }

} 
